# eclipse project files
.cproject
.project
.settings
Debug/
Release/

# build artifacts
build/
*.so
*.o
*.a
unit-tests

# cmake project files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
cmake.cfg

# visual-studio files
.vs/
